/* ==========================
   GLOBAL
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary: #0081d6;
    --primary-hover: #006bb3;
    --background: linear-gradient(135deg, #ffffff 0%, #a6d1fd 50%, #3498db 100%);
    --card-bg: #eefcff;
    --shadow:
        0 4px 8px rgba(0, 0, 0, 0.04),
        0 12px 24px rgba(0, 0, 0, 0.06),
        0 24px 48px rgba(0, 0, 0, 0.08);
}

body {
    min-height: 100vh;
    background: var(--background);
    color: #0c0c0c;
}

main {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

/*  NAVBAR   */
.navBar-container {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    box-shadow: var(--shadow);
}

.navBar-container h2 {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    color: white;
    background: var(--primary);
    padding: .8rem 1.8rem;
    border-radius: 999px;
    transition: .3s;
}

.navBar-container h2:hover {
    background: var(--primary-hover);
}

.left-section {
    padding: 0 0 0 8rem;
}

/* navigation menus */

.nav-box ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: clamp(20px, 20vw, 80px);
}

.nav-box li {
    font-size: clamp(15px, 10vw, 30px);
}

/* HEADER */
.top-header-container ul {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 15vw, 20px);
    background: white;
    width: clamp(50px, 55vw, 500px);
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    list-style: none;
    margin-bottom: 3rem;
    border: 1px dashed rgba(0, 0, 255, 0.479);
}

.top-header-container li {
    font-size: clamp(8px, 3vw, 25px);
    color: rgba(0, 89, 255, 0.979);
    font-weight: bold;
}

.left-section .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;

}

.header-container .name-header {
    font-size: clamp(3.5rem, 8vw, 11rem);
    line-height: .95;
    color: rgb(43, 41, 131);
    margin-bottom: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
    color: rgba(67, 67, 82, .65);
}

.header-container h3 {
    margin-top: .5rem;
    font-size: clamp(2rem, 2vw, 3rem);
    color: rgb(67, 67, 82);
}

.header-container .easier {
    color: var(--primary);
    font-size: clamp(2rem, 5vw, 4rem);
    -webkit-text-stroke: 1px var(--primary);
}

.header-container .info-header {
    display: flex;
    flex-wrap: wrap;
    color: rgba(87, 87, 87, 0.644);
    font-size: clamp(1.25rem, 3vw, 1.9rem);
    padding: 2rem 0;
}

/* Hero Images */
.right-section {
    padding: 2rem;
    opacity: 0.5;
}

.right-section .hero-image-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right-section .hero-image-container img {
    width: auto;
    max-width: 90%;
    height: auto;
    background: transparent;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
}

.right-section .hero-image-container .arrow {
    border: none;
    padding: 0;
}

.right-section .hero-image-container .image1 {
    height: clamp(180px, 22vw, 320px);
    width: auto;
    transform: rotate(-15deg);
    margin-top: -22rem;
}

.right-section .hero-image-container .image2 {
    height: clamp(300px, 35vw, 700px);
    width: auto;
}

.right-section .hero-image-container .arrow {
    height: clamp(60px, 8vw, 160px);
    width: auto;
    transform: rotate(-295deg);
}

/* UPLOAD AREA*/

.left-section .upload-area {
    grid-column: 1;
    width: 95%;
    min-height: 570px;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
    box-shadow: var(--shadow);
}

.upload-area.done {
    display: none;
}

.upload-area .upload-card {
    width: 92%;
    height: 92%;
    padding: clamp(2rem, 4vw, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vw, 1.5rem);
    border: 2px dashed var(--primary);
    border-radius: 15px;
    background: rgba(217, 236, 248, 0.664);
    text-align: center;
}

.upload-area .upload-icon {
    width: 100px;
    height: 100px;
}

.upload-area .upload-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
}

.upload-area .upload-card h2 {
    font-size: 3rem;
    color: #222;
}

.upload-area .upload-description {
    font-size: 1.5rem;
    color: #6d6d6d;
}

.upload-area .choose-file-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    background: var(--primary);
    color: white;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    box-shadow:
        0 6px 12px rgba(0, 0, 0, .12),
        0 10px 24px rgba(0, 0, 0, .12);
}

.upload-area .choose-file-btn:hover {
    background: var(--primary-hover);
}

.upload-area .file-info {
    color: #7a7a7a;
    font-size: 1.5 rem;
}

.container {
    grid-column: 1;
    justify-self: center;
    width: 100%;
    min-height: 800px;
    background: var(--card-bg);
    padding: clamp(1.5rem, 3vw, 3rem);
    display: none;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    transition: .3s ease;
}

.container.active {
    display: flex;
}

input {
    display: none;
}

/* privacy info */
.privacy-info-container{
    grid-column: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}

.privacy-info-container p{
    font-size: clamp(10px, 16vw, 30px);
}

.privacy-info-container img{
    background: transparent;
    width: 2%;
    padding: 0;
    height: 20px;
}


/* PREVIEW SECTION */
.preview-section {
    margin-top: clamp(1.5rem, 3vw, 2rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1rem, 3vw, 3rem);
}

.output-preview-image {
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.164),
        0 12px 20px rgba(0, 0, 0, 0.192),
        0 24px 48px rgba(0, 0, 0, 0.13);
}

.card {
    background: #cedadd;
    padding: clamp(0.8rem, 2vw, 1rem);
    border-radius: clamp(10px, 2vw, 15px);
}

.card h3 {
    margin-bottom: clamp(0.75rem, 2vw, 1rem);
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.4rem);
}

img {
    width: 100%;
    height: clamp(220px, 35vw, 350px);
    object-fit: contain;
    background: #ffffff;
}

.buttons {
    display: flex;
    gap: clamp(0.5rem, 2vw, 1rem);
    margin-top: clamp(1rem, 3vw, 1.6rem);
}

button {
    flex: 1;
    padding: clamp(0.75rem, 2vw, 0.9rem);
    border: none;
    cursor: pointer;
    border-radius: clamp(8px, 1.5vw, 10px);
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}

.process {
    background: #2563eb;
    color: white;
}

.process.active {
    background: #88a5e2;
    color: rgb(255, 255, 255);

}

.process:hover {
    background: #88a5e2;
    color: rgb(20, 20, 20);
}


.process:disabled:hover {
    background: #88a5e2;
    color: rgb(255, 255, 255);
}

.download {
    background: #16a34a;
    color: rgb(255, 250, 250);
}

.download:hover {
    background: #3cff0062;
    color: rgb(2, 2, 2);
}

.print-button {
    background: #161817;
    color: rgb(255, 255, 255);
}

.print-button:hover {
    background: #666666;
}

.size-selector {
    margin-top: clamp(1rem, 3vw, 1.6rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 0.75rem);
}

.size-selector select {
    padding: clamp(0.75rem, 2vw, 0.9rem);
    font-size: clamp(0.95rem, 1.5vw, 1rem);
    background: #475569;
    color: white;
    border: none;
}

.loading {
    margin-top: clamp(1rem, 2vw, 1.25rem);
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
}

/* PRINT LAYOUT */
.print-sheet {
    margin-top: clamp(1.5rem, 4vw, 2.5rem);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    padding: clamp(1rem, 3vw, 1.25rem);
    border-radius: clamp(10px, 2vw, 15px);
    background: #ffffff;
}

.print-photo {
    border: 0.1px solid rgba(0, 0, 0, 0.247);
    object-fit: cover;
}

/* Footer */
.footer-container {
    grid-column: 1/ -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: clamp(100px, 50vw, 200px);
    width: 100%;
}

.footer-container p {
    font-size: clamp(15px, 10vw, 20px);
}

/* MEDIA QUERIES */
@media print {

    .print-sheet {
        background: white;
    }

    /*Not included parts for printing */
    h1,
    .upload-box,
    .preview-section,
    .header-section,
    .size-selector,
    .buttons,
    .navBar-container,
    .footer-container,
    .loading {
        display: none;
        box-shadow: none;
    }

    .container {
        background: white;
        width: auto;
        padding: 0;
        box-shadow: none;
    }

    /* removed box shodow */
    .container.active {
        box-shadow: none;
    }

    .print-sheet {
        display: grid;
    }
}